<div>

  <h4>ลูกค้า : {{customer.name}}</h4>

    <table class="table table-striped table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">ลำดับ</th>
          <th scope="col">รูปสินค้า</th>
          <th scope="col">ชื่อสินค้า</th>
          <th scope="col">จำนวน</th>
          <th scope="col">ราคา</th>
        </tr>
      </thead>
      <tbody *ngIf="orders">
        <tr *ngFor="let order of orders ; index as i">
          <td style="text-align: center;">{{i+1}}</td>
          <td>
            <div class="text-center">
              <img src="{{order.product.image}}" class="rounded">
            </div>
          </td>
          <td>{{order.product.title}}</td>
          <td style="text-align: center;">{{order.quantity}}</td>
          <td style="text-align: center;">{{order.total}}</td>
       
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td style="text-align: center;" colspan="4">ราคารวม</td>
          <td style="text-align: center;">{{currentOrderHistory.total}}</td>
        </tr>
      </tfoot>
    </table>
    
  </div>
